/*===========================================
================ CHUNK: BASE/LAYOUT
===========================================*/
@use "../abstracts/" as vars;

.calculator-wrapper{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 5px;
    place-items: stretch;
    place-content: center;
    
    .screen{
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px solid transparent;
        outline: none;
        line-height: 40px;
        padding: 5px;
        font-size: 1.5rem;
        width: 265px;
        background: vars.$second-clr;
        grid-area: 1/1 / auto/span 4;
        color: rgba(100, 100, 100, .5);
        
        &:focus{
            box-shadow: inset 0 0 15px 1px rgba(235, 196, 69, .5);
            border: 2px solid vars.$main-clr;
        }
    }

    button.operator-div{grid-area: 3/4 / auto/auto;}
    button.operator-mult{grid-area: 4/4 / auto/auto;}
    button.operator-sub{grid-area: 5/4 / auto/auto;}
    button.operator-add{grid-area: 6/4 / auto/auto;}
    
    button[class^="operator"],
    .calc,
    .delete{
        font-size: 2rem;
        background-color: vars.$main-clr;
        &:hover{
            box-shadow: 0 0 10px 0 vars.$main-clr;
            filter:brightness(.9);
        }
        &:active{
            box-shadow: 0 0 10px 0 vars.$main-clr;
            filter:brightness(.8);
        }
    }
}






