/*===========================================
================ CHUNK: BASE/LAYOUT
===========================================*/
@use "../abstracts/" as vars;

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    text-align: center;
    margin-top: 10px;
    height: 20px;
}

.calculator-wrapper{
    display: grid;
    // grid-template-columns: repeat(4, max-content);
    grid: 
                "screen screen  screen  screen"
                "prev   history history next  "
                "parL   parR    clr     del   "
                "seven  eight   nine    div   "
                "four   five    six     mul "
                "one    two     three   sub   "
                "zero   fp      calc    add   "
                / max-content max-content max-content max-content
                ;
    gap: 8px;
    place-items: stretch;
    place-content: center;
    
    > * {
        border-radius: 5px;
    }

    .screen{
        margin-bottom: 10px;
        border: 2px solid transparent;
        outline: none;
        line-height: 40px;
        padding: 5px;
        font-size: 1.5rem;
        width: 265px;
        background: vars.$second-clr;
        grid-area: screen;
        color: rgba(50, 50, 50, .9);
        &:placeholder-shown{
            color: rgba(100, 100, 100, .5);
        }
        
        &:focus{
            box-shadow: inset 0 0 15px 1px rgba(235, 196, 69, .5);
            border: 2px solid vars.$main-clr;
        }
    }

    button.operator-div{grid-area: div;}
    button.operator-mult{grid-area: mul;}
    button.operator-sub{grid-area: sub;}
    button.operator-add{grid-area: add;}
    
    button[data-fp]{grid-area: fp;}
    button[data-calc]{grid-area: calc;}

    button[data-num="7"]{grid-area: seven;}
    button[data-num="8"]{grid-area: eight;}
    button[data-num="9"]{grid-area: nine;}
    button[data-num="4"]{grid-area: four;}
    button[data-num="5"]{grid-area: five;}
    button[data-num="6"]{grid-area: six;}
    button[data-num="1"]{grid-area: one;}
    button[data-num="2"]{grid-area: two;}
    button[data-num="3"]{grid-area: three;}
    button[data-num="0"]{grid-area: zero;}
    button[data-par]{
        &[left]{grid-area: parL;}
        &[right]{grid-area: parR;}
    }
    .previous{grid-area: prev;font-size: 30px;}
    .history{grid-area: history;text-align: center;font-weight: bold;letter-spacing: 3px;}
    .next{grid-area: next;font-size: 30px;}
    button[data-clr]{grid-area: clr;}
    button[data-del]{grid-area: del;}

    button{
        color: #444;
        transition: filter .2s;
        
        &:hover{
            filter: brightness(.9);
        }
        &:active{
            filter: brightness(.8);
        }
    }

    button[data-par],
    button[data-clr],
    button[data-del],
    button[class^="operator"],
    .calc{
        font-size: 2rem;
    }

    button[data-operator],
    .calc{
        background-color: vars.$main-clr;
    }


}




